editor = vim
*.pro.user.*
./ideas
.idea
**/__pycache__
# .vscode/  里面有一些配置文件还是要共享的

*.o
*.d
*.so
*.bin
*.out
*.log
*.DS_Store
*.vscode

io_server.log
rect1.png
build/code_generator
build/behavior_simulator
build/assembler
build/clock_simulator

docs/**/build

**/temp/

# Latex-Related
*.aux
*.toc
*.log
*.pdf

# bookdim
ext/booksim2/api/build
ext/booksim2/api/build/CMakeFiles
ext/booksim2/src/booksim
ext/booksim2/src/netrace/util/trace_viewer
ext/cent_pim/aim_simulator/build
ext/cent_pim/aim_simulator/patches
ext/cent_pim/aim_simulator/log
ext/cent_pim/aim_simulator/ext
*.trace
*.csv
*.dylib
*.yaml